In [2]:
import pandas as pd
import numpy as np

In [3]:
#extract raw data from kaggle.com
#data_df=pd.read_csv("share-with-alcohol-use-disorder-vs-alcohol-consumption.csv")

In [4]:
#extract raw data from kaggle.com
csv_file = "share-with-alcohol-use-disorder-vs-alcohol-consumption.csv"
AB_data_df = pd.read_csv(csv_file)
AB_data_df.head()

,Entity,Code,Year,Share of population with alcohol use disorder (%),"Alcohol consumption (litres per capita) (liters of pure alcohol, projected estimates, 15+ years of age)",Population
0,Afghanistan,AFG,1800,NaN,NaN,3280000.0
1,Afghanistan,AFG,1801,NaN,NaN,3280000.0
2,Afghanistan,AFG,1802,NaN,NaN,3280000.0
3,Afghanistan,AFG,1803,NaN,NaN,3280000.0
4,Afghanistan,AFG,1804,NaN,NaN,3280000.0

In [5]:
new_df = AB_data_df[AB_data_df.Year == '2016']
new_df.head()

,Entity,Code,Year,Share of population with alcohol use disorder (%),"Alcohol consumption (litres per capita) (liters of pure alcohol, projected estimates, 15+ years of age)",Population
216,Afghanistan,AFG,2016,0.661850,0.2,3.538300e+07
338,Africa,NaN,2016,NaN,NaN,1.213041e+09
558,Albania,ALB,2016,1.845972,7.5,2.886000e+06
778,Algeria,DZA,2016,0.665681,0.9,4.055100e+07
848,American Samoa,ASM,2016,1.142011,NaN,5.600000e+04

In [7]:
Renamed_df = new_df.rename(columns={'Share of population with alcohol use disorder (%)':'Alcohol_Use_Disorder','Alcohol consumption (litres per capita) (liters of pure alcohol, projected estimates, 15+ years of age)': 'Alcohol_Consumption'})

In [8]:
Round_df = Renamed_df.round({'Alcohol_Use_Disorder': 2})
Final_df = Round_df.dropna()
Final_df.head()

,Entity,Code,Year,Alcohol_Use_Disorder,Alcohol_Consumption,Population
216,Afghanistan,AFG,2016,0.66,0.2,35383000.0
558,Albania,ALB,2016,1.85,7.5,2886000.0
778,Algeria,DZA,2016,0.67,0.9,40551000.0
1096,Andorra,AND,2016,1.25,11.3,77000.0
1316,Angola,AGO,2016,1.38,6.4,28842000.0

In [9]:
Final_df.to_csv('AlcoholAbuse.csv', index=False)

In [10]:
len(Final_df)

184